<div class="col-md-8 col-md-offset-1">

<!-- change title later -->
<h3>Photo</h3>

<% @post.each do |post| %>
	<%= image_tag post.image.url(:med) %><br>
	<h4> <%= link_to post.title, post%> </h4><hr>
<% end %>